---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/global.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body
    class="bg-[#faf0e6] text-[#333] leading-[1.6] text-[18px] font-light antialiased"
  >
    <div class="blog-post">
      <a href="/blog" class="back-link"
        ><i class="fas fa-arrow-left"></i> Back to Blog</a
      >

      <div class="blog-header">
        <h1 class="blog-title">{title}</h1>
        <div class="blog-date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>

      <div class="blog-content">
        <slot />
      </div>
    </div>
  </body>
</html>
