---
import type { CollectionEntry } from "astro:content";
import MainLayout from "./MainLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout title={title} description={description}>
  <div class="blog-post">
    <div class="blog-header">
      <h1 class="blog-title">{title}</h1>
      <div class="blog-date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>

    <div class="blog-content">
      <slot />
    </div>
  </div>
</MainLayout>
